.main-nav {
    position: relative;
    width: 100%; 

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    &-logo {
        img {
            width: 10rem;
            height: auto;
        }        
    }
    &-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;

        @include respond(tab-port) {
           order: 0;
           width: 80%;
        }
        @include respond(phone-sm) {
           display: none;
        }

        a {
            transition: all 0.6s;
            border-bottom: 0px solid transparent;

            &:hover {
                border-bottom: 1px solid $color-white;      
            }
        }
    }

    .button-wrap {
        &-button {
            width: 20rem;
        }
        @include respond(phone-sm) {
            display: none;
        }
    }
    
    .mobile-button {
        display: none;

        @include respond(phone-sm) {
            display: block;
        }

        img {
            width: 5rem;
            height: auto;
        }
    }  
}

/* Moved outside of the navigation CSS context because of a stacking order
problem in the header / main-nav html files. */
.mobile-nav {
    transform-origin: top right;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100%;
    height: 100vh;
    height: 100dvh;

    z-index: 1000;
    background-color: $color-primary-0;
    
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 8rem 0;

    a,p {
        color: $color-white;
    }

    .x-icon {
        width: 100%;
        display: flex;
        justify-content: start;
        padding-left: 6rem;

        img {
            width: 5rem;
            height: auto;
        }
    }
    
    &-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        li {
            font-size: $small-heading-size;
        }
    }

    .social-links {
        padding-top: 7rem;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        ul {
            display: flex;
            justify-content: center;
            gap: 3rem;
        }
        img {
            width: 3rem;
            height: auto;
        }
    }

}