<section class = "aiAssistant">
    <div class = "aiAssistant__left" data-animate="slide-left">
        <div class = "aiAssistant__left__header">
            <div class = aiAssistant__left__header-eyebrow>
                <img src="/assets/vectors/brain-circuit.svg" alt="brain circuit icon">
                <p>Kay: Your Intelligent Operations Assistant</p>
            </div>
            <h2>An AI that helps you manage your gym.</h2>
            <p class = "aiAssistant__left__header-body">Kay is the heartbeat of your admin autopilot. She isn't just a chatbot; she assists Kinect clients in managing memberships, analyzing attendance trends, and handling complex billing queries behind the scenes.</p>
        </div>
        <div class = "aiAssistant__left__list">
            <ul>
                {{ li1.listItem1("/assets/vectors/grid-opaque-icon.svg", "Owner-Side Assistance", "Kay helps you find the data you need without digging through reports.") }}
                {{ li1.listItem1("/assets/vectors/robot-opaque-icon.svg", "Intelligent Automation", "She identifies at-risk members and suggests proactive retention strategies.") }}
                {{ li1.listItem1("/assets/vectors/star-opaque-icon.svg", "Operational Excellence", "Get the peace of mind that your gym is optimized 24/7, even when you're off-site.") }}
            </ul>
            <a href="#"><button>Meet Your Assistant</button></a>
        </div>
    </div>
    <div class = "aiAssistant__right" data-animate="slide-right">
        <div class = "aiAssistant__right__container">
            <img class = "aiAssistant__right__container-background" src="/assets/images/kay-in-gym.png" alt="ai assistant kay">
            <div class = "aiAssistant__right__container__profile">
                <img src="/assets/images/kay-profile-nobg.png" alt="ai assistant kay">
            </div>
            <div class = "aiAssistant__right__container__overlay">
                <div>
                    <img src="/assets/vectors/green-dot-icon.svg" alt="green dot icon">
                    <p class = "opaque-bold-text">Kay is running task</p>
                </div>
                <p class = "bold-text">"Analyzing 24-hour door access patterns for potential shared access violations..."</p>
            </div>
        </div>
    </div>
</section>