<section class = "benefitsPitch">
    {{ sectHeader.sectionHeader("Key Features & Benefits", "Packed with the tools small gyms need, our system is designed to save you time, reduce overhead, and deliver a better member experience.") }}

    <div class = "benefitsPitch__content">
        {{ card1.card1("/assets/images/image-7.jpg", "Automated Payment Processing", "Enjoy peace of mind with secure, automated billing—whether it's subscriptions, one-time invoices, or point-of-sale transactions, everything is handled seamlessly and safely.", "#", "Learn More", "email-icon.svg")}}
        {{ card1.card1("/assets/images/image-10.jpg", "Online Waivers", "Cut turnaround time in half with a fast, simple, and legally-binding e-signature process—no more chasing signatures or paperwork delays.", "#", "Learn More", "email-icon.svg")}}
        {{ card1.card1("/assets/images/image-11.jpg", "Run your gym with confidence", "All the core features you need to run your gym with confidence. Bookings, scheduling, payments, door access and reporting.", "#", "Learn More", "email-icon.svg")}}
    </div>
</section>