<section class = "featurePitch">
    <div class = "featurePitch__contents">
        <div class = "featurePitch__contents__left">
            <h2>Effortless Gym Management with Smartphone Access</h2>
            <ul>
                {{ li1.listItem1("/assets/vectors/key-icon.svg", "Members unlock the gym with just their smartphone—on schedules you set, no key fobs required.") }}
                {{ li1.listItem1("/assets/vectors/lock-icon.svg", "Control access with schedules, remote management, and real-time entry logs—no lost fobs, no unauthorized access.") }}
                {{ li1.listItem1("/assets/vectors/person-icon.svg", "Automate gym access and cut down on front desk oversight—no more manual check-ins.") }}
                {{ li1.listItem1("/assets/vectors/money-icon.svg", "Eliminate costs associated with key fob administration.") }}
            </ul>
        </div>
        <div class = "featurePitch__contents__right">
            <div class = "featurePitch__contents__right-image">
                <img src="/assets/images/image-1.jpg" alt="Woman on the phone">
            </div>
        </div>
    </div>
</section>