<section class="featurePitch" data-animate="slide-up">
    <div class="featurePitch__left">
        <span class = "featurePitch__left-header">
            <img src="/assets/vectors/shield-icon.svg" alt="icon">
            <p>NATIVE SECURITY EXCELLENCE</p>
        </span>

        <h2>Ditch the Fobs. <span class = "flair-color-2">Secure Your Gym</span> from Your Couch.</h2>

        <p class = "featurePitch__left-body">Managing access shouldn't require you being on-site. With Kinect, access is tied to the member's device ID and their location.</p>

        <ul>
            <li>
                <img src="/assets/vectors/shield-icon.svg" alt="icon">
                <p>Unlock doors remotely for cleaning crews or staff</p>
            </li>
            <li>
                <img src="/assets/vectors/shield-icon.svg" alt="icon">
                <p>Instantly revoke access for past-due members</p>
            </li>
            <li>
                <img src="/assets/vectors/shield-icon.svg" alt="icon">
                <p>Eliminate fob-sharing with geo-location locks</p>
            </li>
            <li>
                <img src="/assets/vectors/shield-icon.svg" alt="icon">
                <p>Works natively with any smartphone</p>
            </li>
        </ul>
    </div>
    <div class="featurePitch__right">
        <div class = "featurePitch__right-image">
            <img src="/assets/images/image-2.jpg" alt="card image">
        </div>

        <div class = "eyebrow-blinker"><img src="/assets/vectors/green-dot-icon.svg" alt="icon"><p>UNLOCK THE GYM FRONT DOOR</p></div>
    </div>
</section>