@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.headaches {
    width: 100%;
    padding: 6rem 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    @include mixins.respond(phone-big) {
        padding: 6rem 2rem;
    }

    .textBlock {
        text-align: center;
        
        &-header {
            gap: 1.5rem;

            .eyebrow {
                font-size: variables.$subtext-font-size;
                font-weight: 800;
                letter-spacing: 2px;
                color: variables.$color-primary-0;
            }
        }

        &-body {
            opacity: 60%;
            width: 40%;

            @include mixins.respond(phone-big) {
                width: 90%;
            }
        }
    }

    &__cards {
        display: flex;
        justify-content: space-around;
        align-items: start;
        gap: 3rem;

        @include mixins.respond(phone-big) {
            flex-direction: column;
        }
    }
}