<section class = "bookingContent">
    <div class = "bookingContent-background-color"></div>
    
    <div class = "bookingContent__topForm">
        <div class = "bookingContent__topForm-text">
            <h4>See how easy it is to give your members secure, smartphone-based gym access—no key fobs, no hassle.</h4>
            <h4>Fill out this quick form and pick a time that works for you.</h4>
        </div>
        {# FORM #}
        <div class = "bookingContent__topForm-forms">
            <div class = "bookingContent__topForm-forms-calendar" id="booking-page">
            <!-- this is where we will inject the interface -->
            </div>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FToronto&showPrint=0&showTabs=0&showNav=0&showDate=0&showCalendars=0&showTz=0&showTitle=0&src=YmpAZmFjaWxpdHlraW5ldGljcy5jYQ&color=%23039be5" 
                    style="border-width:0" 
                    width="800" 
                    height="600" 
                    frameborder="0" 
                    scrolling="no"></iframe>
            
            {# OLD SAVVYCAL CODE FOR MODAL #}
            {# {% if page.url == '/booking/' %}
                <script>window.SavvyCal=window.SavvyCal||function(){(SavvyCal.q=SavvyCal.q||[]).push(arguments)};</script>
                <script async src="https://embed.savvycal.com/v1/embed.js"></script>
                <script>
                    SavvyCal('init');
                    SavvyCal('inline', { link: 'kinect/kinect-review-with-bj-new', selector: '#booking-page', hideAvatar: 'true', hideBanner: 'true', view: 'month' });
                </script>    
            {% endif %}           #}
        </div>

    </div>
</section>