<section class = "bookingContent">
    <div class = "bookingContent-background-color"></div>
    
    <div class = "bookingContent__topForm">
        <div class = "bookingContent__topForm-text">
            <h4>See how easy it is to give your members secure, smartphone-based gym access—no key fobs, no hassle.</h4>
            <h4>Fill out this quick form and pick a time that works for you.</h4>
        </div>
        {# FORM #}
        <div class = "bookingContent__topForm-forms">
            <div class = "bookingContent__topForm-forms-calendar" id="booking-page">
                {# <!-- Google Appointment Schedules — Inline Embed -->
                <iframe
                    src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ08cYBucA7sg8cBcE5LNBhVdYMh8tNTuGnDtoWOSu-PeUC7yCZ4OYD13Ncj5AZ6UodYJc2qg4RB?gv=true&_height=760"
                    loading="lazy"
                    allowfullscreen
                    title="Book a demo">
                </iframe>
                <!-- /Inline Embed --> #}

                <!-- Google Calendar Appointment Scheduling begin -->
                <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
                <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
                <script>
                (function() {
                var target = document.currentScript;
                window.addEventListener('load', function() {
                    calendar.schedulingButton.load({
                    url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ08cYBucA7sg8cBcE5LNBhVdYMh8tNTuGnDtoWOSu-PeUC7yCZ4OYD13Ncj5AZ6UodYJc2qg4RB?gv=true',
                    color: '#f3f3f3',
                    label: "Book a Demo",
                    target,
                    });
                });
                })();
                </script>
                <!-- end Google Calendar Appointment Scheduling -->
            </div>      
        </div>
    </div>
</section>


{# OLD SAVVYCAL CODE FOR MODAL #}
{# {% if page.url == '/booking/' %}
    <script>window.SavvyCal=window.SavvyCal||function(){(SavvyCal.q=SavvyCal.q||[]).push(arguments)};</script>
    <script async src="https://embed.savvycal.com/v1/embed.js"></script>
    <script>
        SavvyCal('init');
        SavvyCal('inline', { link: 'kinect/kinect-review-with-bj-new', selector: '#booking-page', hideAvatar: 'true', hideBanner: 'true', view: 'month' });
    </script>    
{% endif %}           #}