<section class = "pricingCards">
    <div class = "pricingCards__currency">
        <p>Currency: <span class = "currencyLabel">CAD</span></p>
    </div>
    <div class = "pricingCards__contents">
        {{ actionCard.actionCard("Starter", "Essentials", "59", ["Membership Management", "Payment Processing", "Recurring Billing", "Online Registration", "Digital Reporting", "Digital Waivers", "Class Scheduling"], "/pages/booking") }}
        {{ actionCard.actionCard("Access Control", "Management", "99", ["All Starter Features", "Complete Door Control", "Unlimited Access Schedule", "Attendance Tracking", "Expanded Reporting", "Hardware Included", "Lifetime Warranty", "24/7 Support"], "/pages/booking") }}
        {{ actionCard.actionCard("Access Plus+", "Full Control", "149", ["All Access Control Features", "Membership Management", "Payment Processing", "Detailed Reporting", "Class Booking", "Much More"], "/pages/booking") }}
    </div>

</section>