{% macro spinButton(name, text, icon) %}
    <div class = "button-wrap-button">  
        <img class = "button-wrap-button-image" src="/assets/vectors/{{icon}}" alt="{{name}} icon">
        <p class = "button-wrap-button-text">{{text}}</p>
    </div>
{% endmacro %}