{% import "macros/button.njk" as btn %}

{% macro card1(image, header, text, link, btnName, btnIcon) %}

<div class = "card1">
    <div class ="card1-image">
        <img src={{image}} alt="card image">
    </div>

    <div class = "card1-text">
        <div class = "card1-text-header"> 
            <h3>{{header}}</h3>
            <p>{{text}}</p>
        </div>
 
        <div class = "button-wrap spinButton">
            <a href="{{link}}" aria-label="Learn more about platform features">
                {{btn.spinButton("card link", btnName, btnIcon)}}
            </a>
        </div>
    </div>
</div>

{% endmacro %}