{# Dummy Data #}

{% macro sectionNum(num, text) %}

  <div class="sectionNum__wrap">
    <p class = "sectionNum__wrap-num">{{ num }}</p>
    <p class = "sectionNum__wrap-text">{{ text }}</p>
  </div>

{% endmacro %}