{% import "macros/button.njk" as btn %}

{% macro navigation(logo, styleType) %}
  <nav class = "{{styleType}}" style = "visibility:hidden">
    <div class = "{{styleType}}-logo">
        <a href="/">
        <img src="{{logo}}" alt="text logo">
        </a>
    </div>

    <ul class = "{{styleType}}-list">
        <li><a href="#">Blog</a></li>
        <li><a href="/pages/features">Features</a></li>
        <li><a href="/pages/pricing">Pricing</a></li>
        <li><a href="/pages/contact">Contact</a></li>
    </ul>

    <div class = "button-wrap spinButton">
        <a href="/pages/booking">
            {{btn.spinButton("cta", "Book a Free Demo", "email-icon.svg")}}
        </a>
    </div>

    <div class = "mobile-button">
        <img src="/assets/vectors/mobile-button.svg" alt="mobile navigation">
    </div>
</nav>
{% endmacro %}