{% macro sectionHeader(header, flair, text) %}
    <div class = sectionHeader>
        <h2>{{header}}<span class = "flair-color-1">{{flair}}</span></h2>        
        
        <div class = "sectionHeader__text">
            <img class = "horizontal" src="/assets/vectors/horizontal-line.svg" alt="horizontal line">
            <img class = "vertical" src="/assets/vectors/vertical-line.svg" alt="vertical line">
            <p>{{text}}</p>
        </div>
    </div>
{% endmacro %}