{% macro textBlock(eyebrow, header, hValue, body, btnName, btnLink) %}

<div class = "textBlock" data-animate="slide-left">
    <div class = "textBlock-header">
        <p class = "eyebrow">{{ eyebrow }}</p>
        <{{hValue}}>{{ header }}</{{hValue}}>
    </div>

    {% if body %}
        <p class = "textBlock-body">{{ body | safe }}</p>
    {% endif %}

    {% if btnName %}
        <a class = "anchorButton" href = "{{btnLink}}">{{ btnName }}</a>
    {% endif %}
</div>

{% endmacro %}