@use "../abstracts/mixins";
@use "../abstracts/variables";

.callToAction {
   width: 100%;
   padding: 16rem;

   display: flex;
   flex-direction: column;
   gap: 6rem;
   align-items: center;
   justify-content: center;

   text-align: center;

   @include mixins.respond(phone-big) {
        padding: 10rem 6rem;
   }

   p {
          width: 60%;
          
          @include mixins.respond(phone-big) {
               width: 100%;
           }
   }

   button {
     min-width: 20rem;

     transition: all .2s;
   }

   button:hover {
    outline: 5px solid variables.$color-primary-0;
    background-color: variables.$color-white;
    color: variables.$color-black;
   }
}