@use "../abstracts/mixins";
@use "../abstracts/variables";

.headachesCard {
    width: 35rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    border: 3px solid rgba(0, 0, 0, 0.057);
    border-radius: 20px;

    transition: border 0.5s;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h3 {
            font-weight: 700;
        }
    }
    &__blurbs {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &-blurb {
            display: flex;
            gap: 1rem;

            img {
                width: 2rem;
                height: 2rem;
            }

            .eyebrow {
                font-size: calc(variables.$subtext-font-size - 20%);
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 1.5px;

                color: variables.$color-primary-0;
            }
            .body {
                line-height: 1.7;
                font-weight: 400;
                font-size: calc(variables.$default-font-size - 10%);

            }
        }

        &-blurb:nth-child(2) {
            padding: 1.5rem;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.034);

            .eyebrow {
                color: variables.$color-black;
                opacity: 50%;
            }
            .body {
                font-weight: 600;
            }
        }
        &-blurb:nth-child(3) .eyebrow {
            color: rgb(6, 171, 6);
        }
    }
}

.headachesCard:hover {
    border: 3px solid variables.$color-primary-0;
}