@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.blogLanding {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    color: variables.$color-white;

    padding: 12rem 0 25rem;

    @include mixins.respond(phone-big) {
        padding: 8rem 0;
    }

    &__background {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background-color: variables.$color-primary-0;
        clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);

         z-index: 1;

        @include mixins.respond(phone-big) {
            clip-path: none;
        }
    }

    &__header {
        width: 75%;

        display: flex;
        flex-direction: column;
        gap: 4rem;
        
        text-align: center;
        z-index: 99;

        h1 {
            font-weight: 700;

            @include mixins.respond(phone-big) {
                font-size: variables.$big-heading-size;
            }
        }
        p {
            font-size: calc(variables.$small-heading-size * 0.75);
            font-weight: 600;
        }
        img {
            width: auto;
            height: 5rem;

            cursor: pointer;

            @include mixins.respond(phone-big) {
                height: 3rem;
            }
        }

        .socials {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            @include mixins.respond(phone-big) {
                gap: 1.5rem;
            }
        }
    }

    &-search {
        width: 50%;
        z-index: 99;
    }

    .pagefind-ui__results {
        background-color: variables.$color-white;
        z-index:1000;
    }
    
}