.subscribe {
    width: 100%;

    padding: 12rem 25rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    background-color: $color-black;

    @include respond(tab-land) {
        padding: 12rem 18rem;   
    }
    @include respond(tab-port) {
        padding: 12rem 12rem;   
    }
    @include respond(phone-big) {
        flex-direction: column;
    }
    @include respond(phone-sm) {
        padding: 12rem 4rem;
    }

    &__left {
        width: 40%;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        color: $color-white;

        @include respond(phone-big) {
            width: 100%;
        }

        h3 {
            font-size: $medium-heading-size;
            line-height: 1;
            font-weight: 800;
        }
    }
    &__right {
        width: 60%;

        @include respond(phone-big) {
            width: 100%;
        }

        form {
            input {
                padding: 0 3rem;
                background-color: $color-white;
                border-radius: 25px;
                height: 5rem;

                color: $color-black;
            }
            button {
                width: 15rem;
                height: 5rem;
            }
        }
    }
}