<form id = "footerForm" action = "/" method = "POST" name = "footerForm" netlify>
    <div class = "input-pair">
        <label for="fName">What's your name?</label>
        <input id = "fName" name = "fName" type="text" required />
    </div>
    <div class = "input-pair">
        <label for="fEmail">Your email address.</label>
        <input id = "fEmail" name = "fEmail" type="email" required />
    </div>
    <div class = "input-pair">
        <label for="fBusinessName">Name of your business</label>
        <input id = "fBusinessName" name = "fBusinessName" type="text" required />
    </div>

    <button type="submit" form="footerForm" value="Submit">Submit</button>
</form>