@use "../abstracts/mixins";
@use "../abstracts/variables";

*, html, body {
    box-sizing: border-box; // Fixes the problem of overflowing content when adding padding
    scroll-behavior: smooth !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    background-color: variables.$background-color;
    overflow-x:hidden;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    
    @include mixins.respond(phone-mini) {
        font-size: 30%;
    }
    @include mixins.respond(phone-sm) {
        font-size: 35%;
    }
    @include mixins.respond(phone-med) {
        font-size: 40%;
    }
    @include mixins.respond(phone-big) {
        font-size: 45%;
    }
    @include mixins.respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    @include mixins.respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }
    @include mixins.respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    position: relative;
    overflow-x: hidden;

    @include mixins.respond(tab-port) {
        padding: 0;
    }
}

/* Global Tag Resets */

ul {
    list-style: none;
}

strong {
    font-weight: 600;
}

button {
    min-width: 18rem;
    height: 5rem;
    padding: 1.5rem;
    

    border-radius: 40px;
    border: none;

    text-decoration: none;
    color: variables.$color-white;
    background-color: variables.$color-primary-0;
    font-weight: 600;

    cursor: pointer;
    transition: all 1s;
}

form {
    height: 100%;  
    display: flex;
    flex-direction: column;
    gap: 3rem;

    color: variables.$color-white;

    input, textarea {
        border: none;
        border-radius: 0;
        border-bottom: .5px solid variables.$color-white;
        outline: none;
        resize:none;
        background: none;
        color: variables.$color-white;

        &:focus {
            border-color: transparent;
        }
    }

    .input-pair {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: variables.$color-white;
}
::-webkit-scrollbar-thumb {
    background: variables.$color-black;
}

[data-animate] {
  opacity: 0;
  transform: translate3d(0, 32px, 0);
}