<section class = "blogLanding">
    <div class = "blogLanding__background"></div>
    
    <div class = "blogLanding__header">
        <h1>The Kinect Blog</h1>
        <p>Get the knowledge and inspiration you need to take your business to the next level.</p>
    </div>

    {# PAGEFIND #}
    {# SEARCH FUNCTION: PAGEFIND (must re-index if public is fully deleted) #}
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>

    <div class = "blogLanding-search" id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>
</section>