<section class = "postList">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>

    <div id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>


    <div class = "postList__header">

    </div>
    <div class = "postList__list">
        {% for post in collections.posts | reverse | slice(0,6) %}
            <div class = "postList__list-post">
                <a href="{{ post.url }}">
                    <div class = postList__list-post-img>
                        <img src="{{post.data.heroImage}}" alt="">
                    </div>
                    <span>
                        <p class = "subtext">{{ post.data.tags[1] }}</p>
                        <h4>{{ post.data.title }}</h4>
                    </span>
                </a>
            </div>
        {% endfor %}
    </div>
</section>