<section class = "subscribe">
    <div class = "subscribe__left">
        <h3>Subscribe to our Newsletter</h3>
        <p>Get the latest tips, tools, and updates to help you run a smarter, more efficient gym—delivered straight to your inbox.</p>
    </div>
    <div class = "subscribe__right">
        <form id = "subscribeForm" action = "/pages/blog" method = "POST" name = "subscribeForm" netlify>
            <div class = "input-pair">
                <input id = "subscribeEmail" name = "subscribeEmail" type="email" placeholder = "Email Address" required />
            </div>
            <button type="submit" form="subscribeForm" value="Submit">Subscribe</button>
        </form>
    </div>
</section>