---
title: Kinect Blog
layout: "base.njk"
pagination:
  data: collections.posts
  size: 9
  alias: postsPage
  reverse: false
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---


{% import "macros/navigation.njk" as nav %}
{% import "macros/mobileNav.njk" as mobileNav %}
{% import "macros/listItem1.njk" as li1 %}
{% import "macros/listItem1-link.njk" as li1Link %}
{% import "macros/call-to-action.njk" as cta %}
{% import "macros/sectionHeader.njk" as sectHeader %}
{% import "macros/pageHeader.njk" as pageHeader %}
{% import "macros/contactCard.njk" as contactCard %}

<!-- HEADER -->
        
<main class="blogPage">
  {{ pageHeader.pageHeader("", "", "") }}
  
  {% include "partials/blogSections/blogLandingContent.njk" %}

  <div data-blog-pager>
    {% set posts = postsPage %}
    {% include "partials/blogSections/postList.njk" %}

    <nav class="postList__pagination" aria-label="Blog pages" data-postnav>
      {% if pagination.href.previous %}
        <a class="btn" data-page-link href="{{ pagination.href.previous }}">Prev</a>
      {% endif %}

      <span class="subtext">
        Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}
      </span>

      {% if pagination.href.next %}
        <a class="btn" data-page-link href="{{ pagination.href.next }}">Next</a>
      {% endif %}
    </nav>
  </div>
</main>

<!-- FOOTER -->
{% include 'partials/footer.njk' %}

