---
pagination:
  data: collections
  size: 1
  alias: tag
layout: 'base.njk'
permalink: /tags/{{ tag }}/
---

{% import "macros/navigation.njk" as nav %}
{% import "macros/mobileNav.njk" as mobileNav %}
{% import "macros/button.njk" as btn %}
{% import "macros/listItem1.njk" as li1 %}
{% import "macros/listItem1-link.njk" as li1Link %}
{% import "macros/call-to-action.njk" as cta %}
{% import "macros/sectionHeader.njk" as sectHeader %}
{% import "macros/pageHeader.njk" as pageHeader %}
{% import "macros/contactCard.njk" as contactCard %}

<!-- HEADER -->
{{ pageHeader.pageHeader("", "", "") }}
        
<main class = "blogCategories">
    {{ sectHeader.sectionHeader("GetKinect", " Blog", "Tips, insights, and real-world stories to help independent gym owners simplify operations, boost member experience, and grow with smart access technology.") }}
    <h1>{{ tag }}</h1>

        <ul class = "blogCategories__list">
            {% set taglist = collections[ tag ] %}

            {% for post in taglist | reverse %}
                <div class = "blogCategories__list-post">
                    <a href="{{ post.url }}">
                       {# WHY WON'T THIS IMAGE WORK?? #}
                       {# <img src="{{post.data.heroImage}}" alt=""> #}
                        <span>
                            <p class = "subtext">{{ post.data.tags[1] }}</p>
                            <h4>{{ post.data.title }}</h4>
                        </span>
                        <p>{{ post.data.description }}</p>
                    </a>
                </div>
            {% endfor %}
        </ul>
</main>

<!-- FOOTER -->
{% include 'partials/footer.njk' %}