---
title: Features Page
layout: 'base.njk'
---

{% import "macros/navigation.njk" as nav %}
{% import "macros/mobileNav.njk" as mobileNav %}
{% import "macros/button.njk" as btn %}
{% import "macros/listItem1.njk" as li1 %}
{% import "macros/listItem1-link.njk" as li1Link %}
{% import "macros/call-to-action.njk" as cta %}
{% import "macros/sectionHeader.njk" as sectHeader %}
{% import "macros/pageHeader.njk" as pageHeader %}
{% import "macros/contactCard.njk" as contactCard %}

<!-- HEADER -->
{{ pageHeader.pageHeader("Streamline. Scale. Succeed.", "", "Kinect is purpose-built by gym owners, for gym owners—giving you full control over membership, billing, scheduling, communication, and secure access. Automate the busywork, track performance with precision, and unlock your gym's full potential.") }}
        


<main class = "featuresPage">
    {% include 'partials/featuresSections/featuresContent.njk' %}
    {{ cta.callToAction("Try Kinect for Free", "Experience the power of keyless gym access with zero commitment. Try Kinect for free and see how simple managing your facility can be.", "Try Now", "https://dashboard.facilitykinetics.ca/dashboard/createAccount") }}
</main>

<!-- FOOTER -->
{% include 'partials/footer.njk' %}

