---
title: Gym Access & Management Features | Kinect
layout: 'base.njk'
permalink: "/{{ page.fileSlug }}/"
---

{% import "macros/navigation.njk" as nav %}
{% import "macros/mobileNav.njk" as mobileNav %}
{% import "macros/listItem1.njk" as li1 %}
{% import "macros/listItem1-link.njk" as li1Link %}
{% import "macros/call-to-action.njk" as callToAction %}
{% import "macros/sectionHeader.njk" as sectHeader %}
{% import "macros/pageHeader.njk" as pageHeader %}
{% import "macros/contactCard.njk" as contactCard %}

<!-- HEADER -->
{{ pageHeader.pageHeader("Streamline. Scale. Succeed.", "", "Kinect is purpose-built by gym owners, for gym owners—giving you full control over membership, billing, scheduling, communication, and secure access. Automate the busywork, track performance with precision, and unlock your gym's full potential.") }}
        


<main class = "featuresPage">
    {% include 'partials/featuresSections/featuresContent.njk' %}
    {{ callToAction.callToAction("Ready to put your gym on <span class = 'flair-color-1'>Autopilot?</span>", "Join the independent gym owners who have ditched the fobs and reclaimed their time with Kinect.", "Get Started Today", "Book a Demo", "https://dashboard.facilitykinetics.ca/dashboard/createAccount", "/booking", "NO HARDWARE TO BUY • NO FOB FEES • NO CONTRACTS") }}
</main>

<!-- FOOTER -->
{% include 'partials/footer.njk' %}

