@use "../abstracts/mixins";
@use "../abstracts/variables";

.blogPage {
    visibility: hidden;

    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: variables.$color-white;

    .pageHeader {
        padding: 2rem 8rem;

        @include mixins.respond(phone-big) {
            padding: 2rem 2rem;
        }
    }
}
