@use "../abstracts/variables";

.bookingPage {
    visibility: hidden;

    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: variables.$color-white;
}
