@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.bookingContent {
    width: 100%;

    display: flex;

    color: variables.$color-white;
    z-index: 0;

    &-background-color {
        position: absolute;
        top: 10%;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: variables.$color-primary-0;
        z-index: 10;

        clip-path: polygon(0 0, 100% 49%, 100% 100%, 0% 100%);

        @include mixins.respond(phone-big) {
            clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
        }
    }

    &__topForm {
        width: 100%;
        padding: 6rem;

        display: flex;
        gap: 6rem;
        justify-content: center;
        
        z-index: 20;

        @include mixins.respond(phone-big) {
            flex-direction: column;
        }
        @include mixins.respond(phone-sm) {
            padding: 2rem;
        }

        &-text {
            width: 40%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            margin-top: 20rem;

            @include mixins.respond(phone-big) {
                width: 100%;
            }

            h4 {
                width: 70%;
                font-size: variables.$small-heading-size;

                @include mixins.respond(desktop-sm) {
                    font-size: variables.$default-plus-font-size;
                }
            }
        }

        &-forms {
            width: 60%;

            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            gap: 6rem;

            @include mixins.respond(phone-big) {
                width: 100%;
                height: 70rem;
            }

            &-calendar {
                margin-top: 12rem;

                width: 50%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 25px;
                background-color: variables.$color-white;

                filter: drop-shadow(0 4px 8px variables.$color-black);

                @include mixins.respond(phone-big) {
                    margin-top: 0;
                    width: 100%;

                }      

                iframe {border-radius:25px;}
            }
        }
    }
}