---
title: Homepage
layout: 'base.njk'
---

{% import "macros/navigation.njk" as nav %}
{% import "macros/button.njk" as btn %}
{% import "macros/listItem1.njk" as li1 %}
{% import "macros/listItem1-link.njk" as li1Link %}
{% import "macros/card1.njk" as card1%}

<!-- HEADER -->
{% include 'partials/header.njk' %}

<main class = "indexPage">

</main>

<!-- FOOTER -->
{% include 'partials/footer.njk' %}

