<footer id = "footer" class = "footer">
    <section class = "footer__content">
        <div class = "footer__content__left">
            <div class = "footer__content__left__inner-left">
                <h3>Kinect</h3>

                <ul>
                    {{ li1Link.listItem1('/assets/vectors/email-icon.svg', 
                                    'Send us an email',
                                    'bj@facilitykinetics.ca',
                                    'mailto:bj@facilitykinetics.ca') }}
                    {{ li1Link.listItem1('/assets/vectors/phone-icon.svg', 
                                    'Call or Text anytime',
                                    '613 858 2267',
                                    'tel:613-858-2267') }}
                    {{ li1Link.listItem1('/assets/vectors/whatsapp-icon.svg', 
                                    'Message us on Whatsapp',
                                    '613 858 2267',
                                    'https://api.whatsapp.com/send/?phone=16138582267&text&type=phone_number&app_absent=0') }}
                </ul>

                <p><span class = "subtext">copyright 2025</span> &copy Facility Kinetics</p>
            </div>
            <div class = "footer__content__left__inner-right">
                <h4>Have a Question?</h4>

                {% include 'partials/forms/form-sm.njk' %}
            </div>
        </div>
        <div class = "footer__content__right">
            <div class = "footer__content__right__inner-top">
                <h3>Menu</h3>
                <ul>
                    <li><a href="/pages/blog">Blog</a></li>
                    <li><a href="/pages/features">Features</a></li>
                    <li><a href="/pages/pricing">Pricing</a></li>
                    <li><a href="/pages/contact">Contact</a></li>
                    <li><a href="/pages/booking">Booking</a></li>
                </ul>
            </div>
            <div class = "footer__content__right__inner-bottom">
                <a href="/pages/booking"><img src="/assets/vectors/request-demo-button.svg" loading="lazy" alt="Request Demo Button"></a>
            </div>
        </div>
    </section>
</footer>