<footer class = "footer">
    <section class = "footer__content">
        <div class = "footer__content__left">
            <div class = "footer__content__left__inner-left">
                <h3>GetKinect</h3>

                <ul>
                    {{ li1Link.listItem1('/assets/vectors/email-icon.svg', 
                                    'Send us an email',
                                    'bj@facilitykinetics.ca',
                                    '#') }}
                    {{ li1Link.listItem1('/assets/vectors/phone-icon.svg', 
                                    'Call anytime',
                                    '844-999-0905',
                                    '#') }}
                    {{ li1Link.listItem1('/assets/vectors/facebook-icon.svg', 
                                    'Follow us on Facebook',
                                    'GetKinect',
                                    '#') }}
                </ul>

                <p><span class = "subtext">copyright 2025</span> &copy Facility Kinects Company</p>
            </div>
            <div class = "footer__content__left__inner-right">
                <h4>Have a Question?</h4>

                {% include 'partials/forms/form-sm.njk' %}
            </div>
        </div>
        <div class = "footer__content__right">
            <div class = "footer__content__right__inner-top">
                <h3>Menu</h3>
                <ul>
                    <li>Home</li>
                    <li>Blog</li>
                    <li>Features</li>
                    <li>Pricing</li>
                    <li>Contact</li>
                    <li>Booking</li>
                </ul>
            </div>
            <div class = "footer__content__right__inner-bottom">
                <img src="/assets/vectors/request-demo-button.svg" alt="Request Demo Button">
            </div>
        </div>
    </section>
</footer>