<form id = "footerForm" action = "/" method = "POST" name = "footerForm" netlify>
    <div class = "input-pair">
        <label for="fName">What's your name?</label>
        <input id = "fName" name = "fName" type="text" required />
    </div>
    <div class = "input-pair">
        <label for="fEmail">Your email address.</label>
        <input id = "fEmail" name = "fEmail" type="email" required />
    </div>
    <div class = "input-pair">
        <label for="fContent">Tell me about your project.</label>
        <textarea id = "fContent" name = "fContent" required></textarea>
    </div>
</form>