<header class = "header">
    {{ nav.navigation("/assets/images/logo.png", "main-nav") }}

    <section class = "header__contents">
        <div class = "header__contents__left">
            <div class = "header__contents__left-title">
                <h1>Streamline. Scale. <span class = "flair-color-1">Succeed.</span></h1>
                <p>Kinect is purpose-built by gym owners, for gym owners—giving you full control over membership, billing, scheduling, communication, and secure access. Automate the busywork, track performance with precision, and unlock your gym’s full potential.</p>
            </div>

            <a class = "header__contents__left-button" href="/pages/booking">
                <button>Book a Demo</button>
            </a>
        </div>
        <div class = "header__contents__right">
            <img src="/assets/images/header-image-nobg-min.png" alt="Header" loading = "eager">
        </div>
        <div class = "red-box">
            {# Clip Path in header #}
        </div>
    </section>
</header>

{{ mobileNav.mobileNav() }}