<header class = "header">
    {{ nav.navigation("/assets/images/logo.png", "main-nav") }}

    <section class = "header__contents">
        <div class = "header__contents__left">
            <div class = "header__contents__left-title">
                <h1>Turn Any Smartphone into a <span class = "flair-color-1">Gym Key</span></h1>
                <p>Reduce costs, streamline access, and enhance member convenience. Our app transforms any smartphone into a secure gym key—no extra hardware required.</p>
            </div>

            <div class = "button-wrap spinButton">
                <a href="#">
                    {{btn.spinButton("cta", "Book a Free Demo", "email-icon.svg")}}
                </a>
            </div>
        </div>
        <div class = "header__contents__right">
            <img src="/assets/images/header-image-nobg-min.png" alt="Header">
        </div>
        <div class = "red-box">
            {# Clip Path in header #}
        </div>
    </section>
</header>

{# Moved from MAIN-NAV to here because of a stacking order 
/ DOM loading problem with the red box on the header. #}
<div class = "mobile-nav">
        <div class = "x-icon">
            <img src="/assets/vectors/mobile-nav-close.svg" alt="x icon">
        </div>

        <ul class = "mobile-nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div class = "social-links">
            <ul>
                <li><a href="mailto:bj@facilitykinetics.ca"><img src="/assets/vectors/email-icon.svg" alt=""></a></li>
                <li><a href="tel:844-999-0905"><img src="/assets/vectors/phone-icon.svg" alt=""></a></li>
                <li><a href="#"><img src="/assets/vectors/facebook-icon.svg" alt=""></a></li>
            </ul>
            <p><span class = "subtext">copyright 2025</span> &copy Facility Kinects Company</p>
        </div>
</div>