<header class = "header">
    {{ nav.navigation("/assets/images/logo-full.png","main-nav") }}

    <section class = "header__contents">
        <div class = "header__contents__left">
            <div class = "header__contents__left-title">
                <div class = "eyebrow-blinker"><img src="/assets/vectors/red-dot-icon.svg" alt="icon"><p class = "eyebrow">THE ADMIN AUTOPILOT</p></div>
                <h1>All-in-One Gym Management Software for <span class = "flair-color-1">24/7 Gym Management.</span></h1>
                <p>Save time and grow your bottom line with the only management platform that includes native door access. Built to scale with your gym business.</p>
            </div>

            <div class = "header__contents__left__buttons">
                {{ iconButton.iconButton("/assets/vectors/rocket-icon.svg", "Start Your Autopilot") }}
                {{ iconButton.iconButton("/assets/vectors/right-icon.svg", "Learn More") }}
            </div>
        </div>
        <div class = "header__contents__right">
            <div class = "header__contents__right__container">
                <img src="/assets/images/new-hero-image.png" alt="header image">
            </div>
            <div class = "downtrend-box">
                <img src="/assets/vectors/down-trend-icon.svg" alt="icon">
                <div>
                    <p class = "eyebrow">ADMIN EFFICIENCY</p>
                    <p class = "body">Saved 28.35% Monthly</p>
                </div>
            </div>
        </div>
        {# <div class = "red-box"> #}
            {# Clip Path in header #}
        {# </div> #}
    </section>
</header>